.buttonContainer {
  flex: 1;
  border: 1px solid gray;
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  background: tomato;
  margin-top: 8px;
}
.buttonContainer:hover {
  background: rgb(250, 68, 36);
}
.buttonTitle {
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  color: white;
}
