.timeContainer {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 70px;
  width: 70px;
  padding: 4px;
  border-radius: 9999px;
  align-content: center;
  background: linear-gradient(125deg, rgb(156, 195, 255), rgb(0, 73, 183));
}
.timerText {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
