.headerContainer {
  height: 15vh;
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
.headerContainer h1 {
  font-size: 44px;
  color: white;
  margin-right: 8px;
}
