.cardContainer {
  height: 60vh;
  width: 60vw;
  background-color: white;
  border-radius: 16px;
  border: black solid 1px;
  align-content: center;
  position: relative;
}
.cardContainer h2 {
  font-size: 32px;
  color: tomato;
}

.progressBar {
  width: 80%;
  margin-bottom: 16px;
}
.cardQuestion {
  font-size: 16px;
}
