.CardContainer {
  height: 50vh;
  width: 30vw;
  background-color: white;
  border-radius: 16px;
  border: black solid 1px;
}
.CardContainer h2 {
  font-size: 32px;
  color: tomato;
}
.progressBar {
  width: 80%;
}
